---
layout: default
title: Seminar
---

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<div class="seminar">

  <h1>Seminar IDIA/FCS</h1>
 



  <p>
To keep informed
    you can
    <ul>
      <li><a href="https://sympa.lix.polytechnique.fr/lists/subscribe/seminaires-idia-fcs">subscribe to the mailing-list</a></li>
      <li><a href="{{ site.baseurl }}/seminar/calendar.ics">subscribe to the calendar</a></li>
      <li><a href="mail.txt">read the mail announce for next
      seminar</a> </li>
            <li><a href="mailnext.txt">read the mail announce for the one
      following next 
      seminar</a> </li>
        <li><a href="tweet.txt">read a tweet like announce for next 
    seminar</a> </li>
    </ul>
    Unless otherwise stated, all times below are in Paris local time.
  </p>

    {% for talk in site.data.seminar %}
  {% if talk.tag contains "IDIAFCS" %}
  {% if talk.picture != nil %}<a href="{{ talk.website }}"><img src="{{ talk.picture }}" class="photo" alt="{{ talk.speaker }}"/></a>{% endif %}
  <h2>{{ talk.title }}</h2>
  <b><a class="speaker" href="{{ talk.website }}">{{ talk.speaker }}</a></b> ({{ talk.lab }})<br/>
  {{ talk.date  | date: "%A %-d %B %Y at %H:%M" }},
  {% if talk.room contains "https://" %}
    <a href="{{ talk.room }}">online seminar</a>
  {% else %}
    room {% if talk.room == nil %}TBA{% else %}{{ talk.room }}{% endif %}
  {% endif %}  
  {% if talk.video != nil %}(<a href="{{ talk.video }}">recording available</a>){% endif %}
  <br/>
  {% if talk.team %}Invited by the <a href="{{talk.team | replace:
  "Cosynus", "http://www.lix.polytechnique.fr/cosynus/" | replace:
  "Partout", "https://team.inria.fr/partout/" | replace: "AlCo",
  "https://www.lix.polytechnique.fr/alco/"}}">{{talk.team}}</a> team,
  shared with the <a
  href="https://smimram.gitlabpages.inria.fr/proofs-algorithms/seminar/">
  Proofs and algorithms pole seminar of LIX </a>.<br/>{% endif %}  
  <div style="clear: both;"></div>
  <div class="abstract">{% if talk.abstract != nil %}{{ talk.abstract
    | markdownify }}{% endif %}</div>
  <div class="bio">{% if talk.bio != nil %} short bio: {{ talk.bio |
    markdownify }}{% endif %}</div>
  {% endif %}
  {% endfor %}
</div>
